<!DOCTYPE html>
<html>
  <head>
    <title>Tvshowguide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Welcome <%= current_user.email if current_user%></h1>
    
    <% if current_user %>
      <%= link_to "Sign Out", logout_path %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to  "Sign Up", new_user_registration_path %>
    <% end %>
  
    <%= yield %>

    <p class="alert"><%= alert %></p>
  </body>
</html>
